In [1]:
import numpy as np
np.set_printoptions(precision=3)
np.set_printoptions(suppress=True)
np.set_printoptions(linewidth=60)

import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import style
style.use('ggplot')
import itertools

from stanhelper import stanhelper

%matplotlib inline
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import os
import sys

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import numpy.random as npr
from sklearn.cluster import KMeans
from scipy.stats import invgamma

from scipy import sparse, stats

plt.style.use('ggplot')

In [2]:
import random
import time
import tensorflow as tf
import edward as ed
randseed = 29266137
# randseed = int(time.time()*1000000%100000000)
print("random seed: ", randseed)
random.seed(randseed)
np.random.seed(randseed)
tf.set_random_seed(randseed)

/Users/yixinwang/py2/lib/python2.7/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

random seed:  29266137

In [3]:
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [4]:
import pmf

In [5]:
OUT_DATA_DIR = '../dat/tmdb_proc/'
OUT_DIR = '../res/factorfit/'

# load causes

In [6]:
casts = pd.read_csv('../dat/tmdb_proc/casts_df_clean.csv')

In [7]:
data = pd.read_csv('../dat/tmdb_raw/tmdb-5000-movie-dataset/tmdb_5000_movies.csv')

In [8]:
casts.head()

,Unnamed: 0,movie_id,cast_id,character,credit_id,gender,actor_id,name,order,new_actor_id,new_movie_id
0,0,19995,242,Jake Sully,5602a8a7c3a3685532001c9a,2,65731,Sam Worthington,0,0,1646
1,1,19995,3,Neytiri,52fe48009251416c750ac9cb,1,8691,Zoe Saldana,1,1,1646
2,2,19995,25,Dr. Grace Augustine,52fe48009251416c750aca39,1,10205,Sigourney Weaver,2,2,1646
3,3,19995,5,Trudy Chacon,52fe48009251416c750ac9d3,1,17647,Michelle Rodriguez,4,3,1646
4,4,19995,8,Selfridge,52fe48009251416c750ac9e1,2,1771,Giovanni Ribisi,5,4,1646

In [9]:
ratings = casts[['actor_id', 'movie_id']]
# ratings['new_actor_id'] +=1
# ratings['new_movie_id'] +=1

In [10]:
ratings.columns = ['songId','userId']

In [11]:
# ratings=ratings.set_index('userId')
ratings['rating'] = 1

/Users/yixinwang/py2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
ratings.head()

   songId  userId  rating
0   65731   19995       1
1    8691   19995       1
2   10205   19995       1
3   17647   19995       1
4    1771   19995       1

In [13]:
tr_vd_data = ratings

In [14]:
tr_vd_data.head(), tr_vd_data.shape

(   songId  userId  rating
 0   65731   19995       1
 1    8691   19995       1
 2   10205   19995       1
 3   17647   19995       1
 4    1771   19995       1, (14023, 3))

In [15]:
def split_train_test_proportion(data, uid, test_prop=0.5, random_seed=0):
    data_grouped_by_user = data.groupby(uid)
    tr_list, te_list = list(), list()

    np.random.seed(random_seed)

    for u, (_, group) in enumerate(data_grouped_by_user):
        n_items_u = len(group)

        if n_items_u >= 5:
            idx = np.zeros(n_items_u, dtype='bool')
            idx[np.random.choice(n_items_u, size=int(test_prop * n_items_u), replace=False).astype('int64')] = True

            tr_list.append(group[np.logical_not(idx)])
            te_list.append(group[idx])
        else:
            tr_list.append(group)

        if u % 5000 == 0:
            print("%d users sampled" % u)
            sys.stdout.flush()

    data_tr = pd.concat(tr_list)
    data_te = pd.concat(te_list)
    
    return data_tr, data_te

In [16]:
def get_count(tp, id):
    playcount_groupbyid = tp[[id]].groupby(id, as_index=False)
    count = playcount_groupbyid.size()
    return count

In [17]:
user_activity = get_count(tr_vd_data, 'userId')
item_popularity = get_count(tr_vd_data, 'songId')

In [18]:
unique_uid = user_activity.index
unique_sid = item_popularity.index

In [19]:
n_users = len(unique_uid)
n_items = len(unique_sid)

In [20]:
n_users, n_items

(2828, 901)

In [21]:
song2id = dict((sid, i) for (i, sid) in enumerate(unique_sid))
user2id = dict((uid, i) for (i, uid) in enumerate(unique_uid))
id2user = dict((i, uid) for (i, uid) in enumerate(unique_uid))
id2song = dict((i, sid) for (i, sid) in enumerate(unique_sid))

In [22]:
with open(os.path.join(OUT_DATA_DIR, 'unique_uid.txt'), 'w') as f:
    for uid in unique_uid:
        f.write('%s\n' % uid)

with open(os.path.join(OUT_DATA_DIR, 'unique_sid.txt'), 'w') as f:
    for sid in unique_sid:
        f.write('%s\n' % sid)

In [23]:
def numerize(tp):
    uid = list(map(lambda x: user2id[x], tp['userId']))
    sid = list(map(lambda x: song2id[x], tp['songId']))
    tp.loc[:, 'uid'] = uid
    tp.loc[:, 'sid'] = sid
    return tp[['uid', 'sid', 'rating']]

In [24]:
tr_vd_data = numerize(tr_vd_data)
# test_data = numerize(test_data)

/Users/yixinwang/py2/lib/python2.7/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Users/yixinwang/py2/lib/python2.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [25]:
train_data, vad_data = split_train_test_proportion(tr_vd_data, 'uid', test_prop=0.2, random_seed=12345)

0 users sampled

In [26]:
print("There are total of %d unique users in the training set and %d unique users in the entire dataset" % \
(len(pd.unique(train_data['uid'])), len(unique_uid)))

There are total of 2828 unique users in the training set and 2828 unique users in the entire dataset

In [27]:
def move_to_fill(part_data_1, part_data_2, unique_id, key):
    # move the data from part_data_2 to part_data_1 so that part_data_1 has the same number of unique "key" as unique_id
    part_id = set(pd.unique(part_data_1[key]))
    
    left_id = list()
    for i, _id in enumerate(unique_id):
        if _id not in part_id:
            left_id.append(_id)
            
    move_idx = part_data_2[key].isin(left_id)
    part_data_1 = part_data_1.append(part_data_2[move_idx])
    part_data_2 = part_data_2[~move_idx]
    return part_data_1, part_data_2

In [28]:
train_data, vad_data = move_to_fill(train_data, vad_data, np.arange(n_items), 'sid')

In [29]:
train_data.to_csv(os.path.join(OUT_DATA_DIR, 'train.csv'), index=False)
vad_data.to_csv(os.path.join(OUT_DATA_DIR, 'validation.csv'), index=False)
tr_vd_data.to_csv(os.path.join(OUT_DATA_DIR, 'train_full.csv'), index=False)

In [30]:
unique_uid = list()
with open(os.path.join(OUT_DATA_DIR, 'unique_uid.txt'), 'r') as f:
    for line in f:
        unique_uid.append(line.strip())

unique_sid = list()
with open(os.path.join(OUT_DATA_DIR, 'unique_sid.txt'), 'r') as f:
    for line in f:
        unique_sid.append(line.strip())

n_users = len(unique_uid)
n_items = len(unique_sid)

In [31]:
def load_data(csv_file, shape=(n_users, n_items)):
    tp = pd.read_csv(csv_file)
    rows, cols, vals = np.array(tp['uid']), np.array(tp['sid']), np.array(tp['rating']) 
    data = sparse.csr_matrix((vals, (rows, cols)), dtype=np.float32, shape=shape)
    return data


train_data = load_data(os.path.join(OUT_DATA_DIR, 'train.csv'))
vad_data = load_data(os.path.join(OUT_DATA_DIR, 'validation.csv'))

# PMF substitute confounder

In [32]:
train_data_imp = train_data
vad_data_imp = vad_data

In [33]:
dims = np.array([50])

In [34]:
train_data_coo = train_data_imp.tocoo()
row_tr, col_tr = train_data_coo.row, train_data_coo.col

vad_data_coo = vad_data_imp.tocoo()
row_vd, col_vd = vad_data_coo.row, vad_data_coo.col

for i, dim in enumerate(dims):
    print("dim", dim)
    pf = pmf.PoissonMF(n_components=dim, random_state=98765, verbose=True, a=0.3, b=0.3, c=0.3, d=0.3)
    pf.fit(train_data, row_tr, col_tr, dict(X_new=vad_data.data, rows_new=row_vd, cols_new=col_vd))
    U, V = pf.Eb, pf.Et.T
    np.savetxt(OUT_DIR + '/cause_pmf_k'+str(dim)+'_U.csv', U)
    np.savetxt(OUT_DIR + '/cause_pmf_k'+str(dim)+'_V.csv', V)

dim 50
ITERATION: 0	Pred_ll: -4.69	Old Pred_ll: -inf	Improvement: nan
ITERATION: 1	Pred_ll: -4.55	Old Pred_ll: -4.69	Improvement: 0.02861
ITERATION: 2	Pred_ll: -4.50	Old Pred_ll: -4.55	Improvement: 0.01118
ITERATION: 3	Pred_ll: -4.48	Old Pred_ll: -4.50	Improvement: 0.00523
ITERATION: 4	Pred_ll: -4.45	Old Pred_ll: -4.48	Improvement: 0.00500

pmf.py:150: RuntimeWarning: invalid value encountered in double_scalars
  improvement = (pred_ll - old_pll) / abs(old_pll)

ITERATION: 5	Pred_ll: -4.41	Old Pred_ll: -4.45	Improvement: 0.00908
ITERATION: 6	Pred_ll: -4.39	Old Pred_ll: -4.41	Improvement: 0.00487
ITERATION: 7	Pred_ll: -4.39	Old Pred_ll: -4.39	Improvement: 0.00085
ITERATION: 8	Pred_ll: -4.39	Old Pred_ll: -4.39	Improvement: 0.00043
ITERATION: 9	Pred_ll: -4.38	Old Pred_ll: -4.39	Improvement: 0.00057
ITERATION: 10	Pred_ll: -4.38	Old Pred_ll: -4.38	Improvement: 0.00047
ITERATION: 11	Pred_ll: -4.38	Old Pred_ll: -4.38	Improvement: 0.00035
ITERATION: 12	Pred_ll: -4.38	Old Pred_ll: -4.38	Improvement: 0.00021
ITERATION: 13	Pred_ll: -4.38	Old Pred_ll: -4.38	Improvement: 0.00014
ITERATION: 14	Pred_ll: -4.38	Old Pred_ll: -4.38	Improvement: 0.00014
ITERATION: 15	Pred_ll: -4.38	Old Pred_ll: -4.38	Improvement: 0.00006

In [35]:
# illustrate what each dimension of the pmf substitute confounders mean
print("Which movies has the k-th latent dimension on? \
(The latent dimensions capture movie themes.)")
num_top = 20
for K in range(50):
    topids = U[:,K].argsort()[-num_top:][::-1]
    print("\n\n\nK = ", K)
    print([(i, data[data["id"]==int(id2user[topid])]["title"]) \
           for i, topid in enumerate(topids)])

Which movies has the k-th latent dimension on? (The latent dimensions capture movie themes.)



K =  0
[(0, 284    Little Fockers
Name: title, dtype: object), (1, 1710    The Royal Tenenbaums
Name: title, dtype: object), (2, 811    Meet the Parents
Name: title, dtype: object), (3, 3006    Twilight Zone: The Movie
Name: title, dtype: object), (4, 898    The Twilight Saga: New Moon
Name: title, dtype: object), (5, 172    The Twilight Saga: Breaking Dawn - Part 2
Name: title, dtype: object), (6, 2919    My Cousin Vinny
Name: title, dtype: object), (7, 1636    Fled
Name: title, dtype: object), (8, 2950    The Perez Family
Name: title, dtype: object), (9, 2225    Inherent Vice
Name: title, dtype: object), (10, 3766    Four Rooms
Name: title, dtype: object), (11, 688    Meet the Fockers
Name: title, dtype: object), (12, 2181    From Dusk Till Dawn
Name: title, dtype: object), (13, 1845    Hide and Seek
Name: title, dtype: object), (14, 1178    Vantage Point
Name: title, dtype: object), (15, 1424    Concussion
Name: title, dtype: object), (16, 2027    I Am Sam
Name: title, dtype: object), (17, 2223    Connie and Carla
Name: title, dtype: object), (18, 501    The Little Prince
Name: title, dtype: object), (19, 1075    Savages
Name: title, dtype: object)]



K =  1
[(0, 2869    For Your Consideration
Name: title, dtype: object), (1, 1540    American Pie 2
Name: title, dtype: object), (2, 3464    A Mighty Wind
Name: title, dtype: object), (3, 2810    American Pie
Name: title, dtype: object), (4, 817    American Wedding
Name: title, dtype: object), (5, 67    Monsters vs Aliens
Name: title, dtype: object), (6, 949    American Reunion
Name: title, dtype: object), (7, 1368    Identity Thief
Name: title, dtype: object), (8, 3053    Movie 43
Name: title, dtype: object), (9, 2077    Away We Go
Name: title, dtype: object), (10, 1191    Small Soldiers
Name: title, dtype: object), (11, 2311    The Invention of Lying
Name: title, dtype: object), (12, 1263    Big Miracle
Name: title, dtype: object), (13, 2737    St. Vincent
Name: title, dtype: object), (14, 1690    The Boss
Name: title, dtype: object), (15, 1936    Tank Girl
Name: title, dtype: object), (16, 2098    Tammy
Name: title, dtype: object), (17, 1060    Coyote Ugly
Name: title, dtype: object), (18, 2112    Bad Moms
Name: title, dtype: object), (19, 121    Night at the Museum: Battle of the Smithsonian
Name: title, dtype: object)]



K =  2
[(0, 1744    Knocked Up
Name: title, dtype: object), (1, 1500    This Is the End
Name: title, dtype: object), (2, 1441    Walk Hard: The Dewey Cox Story
Name: title, dtype: object), (3, 1682    Sausage Party
Name: title, dtype: object), (4, 1703    Role Models
Name: title, dtype: object), (5, 121    Night at the Museum: Battle of the Smithsonian
Name: title, dtype: object), (6, 1055    The Muppets
Name: title, dtype: object), (7, 1356    The Hangover
Name: title, dtype: object), (8, 552    Funny People
Name: title, dtype: object), (9, 1846    Anchorman: The Legend of Ron Burgundy
Name: title, dtype: object), (10, 639    Step Brothers
Name: title, dtype: object), (11, 2392    Superbad
Name: title, dtype: object), (12, 1179    I Love You, Man
Name: title, dtype: object), (13, 1572    Forgetting Sarah Marshall
Name: title, dtype: object), (14, 1779    The 40 Year Old Virgin
Name: title, dtype: object), (15, 3583    Our Idiot Brother
Name: title, dtype: object), (16, 911    22 Jump Street
Name: title, dtype: object), (17, 1217    Paul
Name: title, dtype: object), (18, 196    Megamind
Name: title, dtype: object), (19, 748    Year One
Name: title, dtype: object)]



K =  3
[(0, 219    Charlie's Angels: Full Throttle
Name: title, dtype: object), (1, 114    Harry Potter and the Goblet of Fire
Name: title, dtype: object), (2, 113    Harry Potter and the Order of the Phoenix
Name: title, dtype: object), (3, 105    Alice Through the Looking Glass
Name: title, dtype: object), (4, 1329    What to Expect When You're Expecting
Name: title, dtype: object), (5, 191    Harry Potter and the Prisoner of Azkaban
Name: title, dtype: object), (6, 1957    Dangerous Liaisons
Name: title, dtype: object), (7, 1507    Alive
Name: title, dtype: object), (8, 1683    Pitch Perfect 2
Name: title, dtype: object), (9, 1121    Chicken Run
Name: title, dtype: object), (10, 350    Charlie's Angels
Name: title, dtype: object), (11, 1061    Love Actually
Name: title, dtype: object), (12, 2422    Pitch Perfect
Name: title, dtype: object), (13, 8    Harry Potter and the Half-Blood Prince
Name: title, dtype: object), (14, 1091    Nixon
Name: title, dtype: object), (15, 3053    Movie 43
Name: title, dtype: object), (16, 449    The Book of Eli
Name: title, dtype: object), (17, 52    Transformers: Dark of the Moon
Name: title, dtype: object), (18, 281    American Gangster
Name: title, dtype: object), (19, 2043    Homefront
Name: title, dtype: object)]



K =  4
[(0, 481    Looney Tunes: Back in Action
Name: title, dtype: object), (1, 576    Lady in the Water
Name: title, dtype: object), (2, 1546    The Hunt for Red October
Name: title, dtype: object), (3, 2518    Twins
Name: title, dtype: object), (4, 1943    Without Limits
Name: title, dtype: object), (5, 2407    Sideways
Name: title, dtype: object), (6, 2343    Conan the Destroyer
Name: title, dtype: object), (7, 777    The Mortal Instruments: City of Bones
Name: title, dtype: object), (8, 279    Terminator 2: Judgment Day
Name: title, dtype: object), (9, 379    Conan the Barbarian
Name: title, dtype: object), (10, 1132    Red Riding Hood
Name: title, dtype: object), (11, 923    Failure to Launch
Name: title, dtype: object), (12, 2327    Predator
Name: title, dtype: object), (13, 1608    The Running Man
Name: title, dtype: object), (14, 472    The Brothers Grimm
Name: title, dtype: object), (15, 1544    Extraordinary Measures
Name: title, dtype: object), (16, 1198    Escape from Planet Earth
Name: title, dtype: object), (17, 612    The Twilight Saga: Eclipse
Name: title, dtype: object), (18, 2090    Bringing Down the House
Name: title, dtype: object), (19, 43    Terminator Salvation
Name: title, dtype: object)]



K =  5
[(0, 571    Inglourious Basterds
Name: title, dtype: object), (1, 287    Django Unchained
Name: title, dtype: object), (2, 938    Unfaithful
Name: title, dtype: object), (3, 3013    Pete's Dragon
Name: title, dtype: object), (4, 3474    The Words
Name: title, dtype: object), (5, 64    X-Men: Apocalypse
Name: title, dtype: object), (6, 85    Captain America: The Winter Soldier
Name: title, dtype: object), (7, 864    Blade II
Name: title, dtype: object), (8, 261    Live Free or Die Hard
Name: title, dtype: object), (9, 1018    The Cotton Club
Name: title, dtype: object), (10, 942    The Book of Life
Name: title, dtype: object), (11, 1372    Guess Who
Name: title, dtype: object), (12, 320    Black Hawk Down
Name: title, dtype: object), (13, 396    Enemy of the State
Name: title, dtype: object), (14, 1929    The Hoax
Name: title, dtype: object), (15, 2668    Pretty Woman
Name: title, dtype: object), (16, 101    X-Men: First Class
Name: title, dtype: object), (17, 47    Star Trek Into Darkness
Name: title, dtype: object), (18, 158    Star Trek
Name: title, dtype: object), (19, 684    The Hateful Eight
Name: title, dtype: object)]



K =  6
[(0, 112    Alexander
Name: title, dtype: object), (1, 899    Shrek
Name: title, dtype: object), (2, 3571    Dallas Buyers Club
Name: title, dtype: object), (3, 311    The Adventures of Pluto Nash
Name: title, dtype: object), (4, 344    Unstoppable
Name: title, dtype: object), (5, 81    Maleficent
Name: title, dtype: object), (6, 460    Zookeeper
Name: title, dtype: object), (7, 1119    21 Jump Street
Name: title, dtype: object), (8, 849    Changeling
Name: title, dtype: object), (9, 2610    A Mighty Heart
Name: title, dtype: object), (10, 1799    Original Sin
Name: title, dtype: object), (11, 911    22 Jump Street
Name: title, dtype: object), (12, 512    Wanted
Name: title, dtype: object), (13, 273    Gone in Sixty Seconds
Name: title, dtype: object), (14, 335    Rise of the Planet of the Apes
Name: title, dtype: object), (15, 1009    The Bone Collector
Name: title, dtype: object), (16, 729    A Civil Action
Name: title, dtype: object), (17, 248    Mr. & Mrs. Smith
Name: title, dtype: object), (18, 2932    Raising Cain
Name: title, dtype: object), (19, 1281    Hackers
Name: title, dtype: object)]



K =  7
[(0, 329    The Lord of the Rings: The Return of the King
Name: title, dtype: object), (1, 330    The Lord of the Rings: The Two Towers
Name: title, dtype: object), (2, 262    The Lord of the Rings: The Fellowship of the Ring
Name: title, dtype: object), (3, 98    The Hobbit: An Unexpected Journey
Name: title, dtype: object), (4, 19    The Hobbit: The Battle of the Five Armies
Name: title, dtype: object), (5, 932    V for Vendetta
Name: title, dtype: object), (6, 1387    Malcolm X
Name: title, dtype: object), (7, 22    The Hobbit: The Desolation of Smaug
Name: title, dtype: object), (8, 230    Star Wars: Episode II - Attack of the Clones
Name: title, dtype: object), (9, 1946    The Bad Lieutenant: Port of Call - New Orleans
Name: title, dtype: object), (10, 4016    Garden State
Name: title, dtype: object), (11, 1617    9
Name: title, dtype: object), (12, 768    Priest
Name: title, dtype: object), (13, 23    The Golden Compass
Name: title, dtype: object), (14, 877    Black Mass
Name: title, dtype: object), (15, 1448    Sabotage
Name: title, dtype: object), (16, 1152    Back to the Future Part II
Name: title, dtype: object), (17, 734    The Tale of Despereaux
Name: title, dtype: object), (18, 570    Ransom
Name: title, dtype: object), (19, 2415    A Night at the Roxbury
Name: title, dtype: object)]



K =  8
[(0, 102    The Hunger Games: Mockingjay - Part 2
Name: title, dtype: object), (1, 183    The Hunger Games: Catching Fire
Name: title, dtype: object), (2, 200    The Hunger Games: Mockingjay - Part 1
Name: title, dtype: object), (3, 1724    Pride & Prejudice
Name: title, dtype: object), (4, 426    The Hunger Games
Name: title, dtype: object), (5, 448    Cold Mountain
Name: title, dtype: object), (6, 3045    Office Space
Name: title, dtype: object), (7, 1103    The Fugitive
Name: title, dtype: object), (8, 3141    Next Friday
Name: title, dtype: object), (9, 2469    Joe Dirt
Name: title, dtype: object), (10, 2213    Deconstructing Harry
Name: title, dtype: object), (11, 858    Muppets Most Wanted
Name: title, dtype: object), (12, 763    The Soloist
Name: title, dtype: object), (13, 169    Captain America: The First Avenger
Name: title, dtype: object), (14, 3436    The Messenger
Name: title, dtype: object), (15, 911    22 Jump Street
Name: title, dtype: object), (16, 1119    21 Jump Street
Name: title, dtype: object), (17, 2630    Never Let Me Go
Name: title, dtype: object), (18, 1364    Horrible Bosses
Name: title, dtype: object), (19, 1994    The Ides of March
Name: title, dtype: object)]



K =  9
[(0, 436    Grown Ups 2
Name: title, dtype: object), (1, 464    Hotel Transylvania 2
Name: title, dtype: object), (2, 520    Grown Ups
Name: title, dtype: object), (3, 390    Hotel Transylvania
Name: title, dtype: object), (4, 515    50 First Dates
Name: title, dtype: object), (5, 362    Pixels
Name: title, dtype: object), (6, 443    Bedtime Stories
Name: title, dtype: object), (7, 445    Just Go with It
Name: title, dtype: object), (8, 2039    Jay and Silent Bob Strike Back
Name: title, dtype: object), (9, 460    Zookeeper
Name: title, dtype: object), (10, 1071    Blended
Name: title, dtype: object), (11, 361    You Don't Mess with the Zohan
Name: title, dtype: object), (12, 3004    Dogma
Name: title, dtype: object), (13, 1162    He's Just Not That Into You
Name: title, dtype: object), (14, 131    G-Force
Name: title, dtype: object), (15, 434    The Longest Yard
Name: title, dtype: object), (16, 499    Jack and Jill
Name: title, dtype: object), (17, 1539    Big Daddy
Name: title, dtype: object), (18, 1340    We're the Millers
Name: title, dtype: object), (19, 1526    Going the Distance
Name: title, dtype: object)]



K =  10
[(0, 3    The Dark Knight Rises
Name: title, dtype: object), (1, 519    Now You See Me
Name: title, dtype: object), (2, 1704    The Big Short
Name: title, dtype: object), (3, 119    Batman Begins
Name: title, dtype: object), (4, 370    Now You See Me 2
Name: title, dtype: object), (5, 2743    The Butterfly Effect
Name: title, dtype: object), (6, 65    The Dark Knight
Name: title, dtype: object), (7, 1149    American Hustle
Name: title, dtype: object), (8, 2457    Road Trip
Name: title, dtype: object), (9, 925    Crazy, Stupid, Love.
Name: title, dtype: object), (10, 3257    American Psycho
Name: title, dtype: object), (11, 96    Inception
Name: title, dtype: object), (12, 2671    Born on the Fourth of July
Name: title, dtype: object), (13, 110    Pearl Harbor
Name: title, dtype: object), (14, 439    Shutter Island
Name: title, dtype: object), (15, 3394    Freeheld
Name: title, dtype: object), (16, 1844    The Grey
Name: title, dtype: object), (17, 1571    Hope Springs
Name: title, dtype: object), (18, 3819    Defendor
Name: title, dtype: object), (19, 1020    Taken 3
Name: title, dtype: object)]



K =  11
[(0, 657    Resident Evil: Retribution
Name: title, dtype: object), (1, 277    Casino Royale
Name: title, dtype: object), (2, 1395    Resident Evil
Name: title, dtype: object), (3, 1070    Resident Evil: Extinction
Name: title, dtype: object), (4, 1814    W.
Name: title, dtype: object), (5, 834    Executive Decision
Name: title, dtype: object), (6, 104    Poseidon
Name: title, dtype: object), (7, 555    Dr. Dolittle 2
Name: title, dtype: object), (8, 799    Resident Evil: Afterlife
Name: title, dtype: object), (9, 683    3000 Miles to Graceland
Name: title, dtype: object), (10, 1478    A Few Good Men
Name: title, dtype: object), (11, 2774    Faithful
Name: title, dtype: object), (12, 2396    Hoodwinked!
Name: title, dtype: object), (13, 200    The Hunger Games: Mockingjay - Part 1
Name: title, dtype: object), (14, 575    Vanilla Sky
Name: title, dtype: object), (15, 1916    Lords of Dogtown
Name: title, dtype: object), (16, 44    Furious 7
Name: title, dtype: object), (17, 1181    JFK
Name: title, dtype: object), (18, 1342    Breakdown
Name: title, dtype: object), (19, 1633    Ultraviolet
Name: title, dtype: object)]



K =  12

[(0, 1363    Spy Kids
Name: title, dtype: object), (1, 1155    Spy Kids 3-D: Game Over
Name: title, dtype: object), (2, 238    Teenage Mutant Ninja Turtles
Name: title, dtype: object), (3, 2181    From Dusk Till Dawn
Name: title, dtype: object), (4, 1302    Spy Kids 2: The Island of Lost Dreams
Name: title, dtype: object), (5, 241    Teenage Mutant Ninja Turtles: Out of the Shadows
Name: title, dtype: object), (6, 1116    The Firm
Name: title, dtype: object), (7, 942    The Book of Life
Name: title, dtype: object), (8, 1495    Phenomenon
Name: title, dtype: object), (9, 880    Grindhouse
Name: title, dtype: object), (10, 633    Lincoln
Name: title, dtype: object), (11, 3734    The Crying Game
Name: title, dtype: object), (12, 1270    Universal Soldier: The Return
Name: title, dtype: object), (13, 9    Batman v Superman: Dawn of Justice
Name: title, dtype: object), (14, 281    American Gangster
Name: title, dtype: object), (15, 2178    Into the Wild
Name: title, dtype: object), (16, 1514    The Quick and the Dead
Name: title, dtype: object), (17, 40    Cars 2
Name: title, dtype: object), (18, 2266    The Tempest
Name: title, dtype: object), (19, 1352    Gattaca
Name: title, dtype: object)]



K =  13
[(0, 842    Paddington
Name: title, dtype: object), (1, 2623    The Three Burials of Melquiades Estrada
Name: title, dtype: object), (2, 1366    The Devil Wears Prada
Name: title, dtype: object), (3, 2680    The Iron Lady
Name: title, dtype: object), (4, 2450    Becoming Jane
Name: title, dtype: object), (5, 3272    Another Year
Name: title, dtype: object), (6, 1181    JFK
Name: title, dtype: object), (7, 2471    Hot Fuzz
Name: title, dtype: object), (8, 886    Mamma Mia!
Name: title, dtype: object), (9, 1444    The Young Victoria
Name: title, dtype: object), (10, 917    Into the Woods
Name: title, dtype: object), (11, 1528    Criminal
Name: title, dtype: object), (12, 440    Four Christmases
Name: title, dtype: object), (13, 63    The Chronicles of Narnia: The Lion, the Witch ...
Name: title, dtype: object), (14, 2503    The Homesman
Name: title, dtype: object), (15, 3513    Song One
Name: title, dtype: object), (16, 2935    Brooklyn
Name: title, dtype: object), (17, 1915    The Conspirator
Name: title, dtype: object), (18, 301    Cloud Atlas
Name: title, dtype: object), (19, 2187    21 Grams
Name: title, dtype: object)]



K =  14
[(0, 482    Nine
Name: title, dtype: object), (1, 1649    The New World
Name: title, dtype: object), (2, 1869    The Hours
Name: title, dtype: object), (3, 294    Epic
Name: title, dtype: object), (4, 776    Winter's Tale
Name: title, dtype: object), (5, 3211    Crazy Heart
Name: title, dtype: object), (6, 2887    Ondine
Name: title, dtype: object), (7, 950    The Negotiator
Name: title, dtype: object), (8, 1533    Hearts in Atlantis
Name: title, dtype: object), (9, 112    Alexander
Name: title, dtype: object), (10, 2924    Phone Booth
Name: title, dtype: object), (11, 2722    Seven Psychopaths
Name: title, dtype: object), (12, 502    The Invasion
Name: title, dtype: object), (13, 690    The Green Mile
Name: title, dtype: object), (14, 574    S.W.A.T.
Name: title, dtype: object), (15, 599    Hart's War
Name: title, dtype: object), (16, 706    Days of Thunder
Name: title, dtype: object), (17, 365    Contact
Name: title, dtype: object), (18, 1364    Horrible Bosses
Name: title, dtype: object), (19, 1443    American Outlaws
Name: title, dtype: object)]



K =  15
[(0, 858    Muppets Most Wanted
Name: title, dtype: object), (1, 1061    Love Actually
Name: title, dtype: object), (2, 59    2012
Name: title, dtype: object), (3, 1156    A Time to Kill
Name: title, dtype: object), (4, 1191    Small Soldiers
Name: title, dtype: object), (5, 889    The Thin Red Line
Name: title, dtype: object), (6, 2449    Sense and Sensibility
Name: title, dtype: object), (7, 1418    Midnight in the Garden of Good and Evil
Name: title, dtype: object), (8, 1583    Star Trek V: The Final Frontier
Name: title, dtype: object), (9, 1849    Nanny McPhee
Name: title, dtype: object), (10, 3454    The Usual Suspects
Name: title, dtype: object), (11, 356    Sherlock Holmes
Name: title, dtype: object), (12, 2571    The Remains of the Day
Name: title, dtype: object), (13, 2717    Brokeback Mountain
Name: title, dtype: object), (14, 1694    The Jacket
Name: title, dtype: object), (15, 1711    Identity
Name: title, dtype: object), (16, 205    Sherlock Holmes: A Game of Shadows
Name: title, dtype: object), (17, 11    Quantum of Solace
Name: title, dtype: object), (18, 3637    Kill the Messenger
Name: title, dtype: object), (19, 3276    It's Kind of a Funny Story
Name: title, dtype: object)]



K =  16
[(0, 120    Madagascar: Escape 2 Africa
Name: title, dtype: object), (1, 325    Ice Age: Continental Drift
Name: title, dtype: object), (2, 509    Madagascar
Name: title, dtype: object), (3, 435    Alvin and the Chipmunks: Chipwrecked
Name: title, dtype: object), (4, 106    Shrek the Third
Name: title, dtype: object), (5, 631    Ice Age
Name: title, dtype: object), (6, 146    Madagascar 3: Europe's Most Wanted
Name: title, dtype: object), (7, 578    Alvin and the Chipmunks: The Squeakquel
Name: title, dtype: object), (8, 514    Ice Age: The Meltdown
Name: title, dtype: object), (9, 86    Shrek Forever After
Name: title, dtype: object), (10, 649    The Dictator
Name: title, dtype: object), (11, 565    Shrek 2
Name: title, dtype: object), (12, 906    Anchorman 2: The Legend Continues
Name: title, dtype: object), (13, 250    The Aviator
Name: title, dtype: object), (14, 546    Minions
Name: title, dtype: object), (15, 89    Wreck-It Ralph
Name: title, dtype: object), (16, 1266    Cirque du Freak: The Vampire's Assistant
Name: title, dtype: object), (17, 20    The Amazing Spider-Man
Name: title, dtype: object), (18, 742    The Boxtrolls
Name: title, dtype: object), (19, 348    Ice Age: Dawn of the Dinosaurs
Name: title, dtype: object)]



K =  17
[(0, 276    Harry Potter and the Chamber of Secrets
Name: title, dtype: object), (1, 197    Harry Potter and the Philosopher's Stone
Name: title, dtype: object), (2, 191    Harry Potter and the Prisoner of Azkaban
Name: title, dtype: object), (3, 113    Harry Potter and the Order of the Phoenix
Name: title, dtype: object), (4, 8    Harry Potter and the Half-Blood Prince
Name: title, dtype: object), (5, 114    Harry Potter and the Goblet of Fire
Name: title, dtype: object), (6, 819    Date Night
Name: title, dtype: object), (7, 2091    The Silence of the Lambs
Name: title, dtype: object), (8, 214    The Perfect Storm
Name: title, dtype: object), (9, 209    The Bourne Legacy
Name: title, dtype: object), (10, 180    The Bourne Ultimatum
Name: title, dtype: object), (11, 903    Ted
Name: title, dtype: object), (12, 72    Suicide Squad
Name: title, dtype: object), (13, 651    Annie
Name: title, dtype: object), (14, 1068    The Hitchhiker's Guide to the Galaxy
Name: title, dtype: object), (15, 3053    Movie 43
Name: title, dtype: object), (16, 3570    The Elephant Man
Name: title, dtype: object), (17, 1594    Corpse Bride
Name: title, dtype: object), (18, 616    Ted 2
Name: title, dtype: object), (19, 222    Elysium
Name: title, dtype: object)]



K =  18
[(0, 946    The Game
Name: title, dtype: object), (1, 3573    Memento
Name: title, dtype: object), (2, 1604    30 Days of Night
Name: title, dtype: object), (3, 1553    Se7en
Name: title, dtype: object), (4, 396    Enemy of the State
Name: title, dtype: object), (5, 4720    The Birth of a Nation
Name: title, dtype: object), (6, 1716    Zoolander
Name: title, dtype: object), (7, 1254    Get Carter
Name: title, dtype: object), (8, 1252    Marie Antoinette
Name: title, dtype: object), (9, 2228    An American Carol
Name: title, dtype: object), (10, 696    The General's Daughter
Name: title, dtype: object), (11, 1739    How to Lose Friends & Alienate People
Name: title, dtype: object), (12, 132    Wrath of the Titans
Name: title, dtype: object), (13, 510    Children of Men
Name: title, dtype: object), (14, 573    Die Hard 2
Name: title, dtype: object), (15, 2551    Halloween II
Name: title, dtype: object), (16, 462    The Manchurian Candidate
Name: title, dtype: object), (17, 889    The Thin Red Line
Name: title, dtype: object), (18, 425    Mission: Impossible
Name: title, dtype: object), (19, 291    National Treasure
Name: title, dtype: object)]



K =  19

[(0, 1532    The Grand Budapest Hotel
Name: title, dtype: object), (1, 243    Night at the Museum
Name: title, dtype: object), (2, 195    Night at the Museum: Secret of the Tomb
Name: title, dtype: object), (3, 720    Contagion
Name: title, dtype: object), (4, 2461    Moonrise Kingdom
Name: title, dtype: object), (5, 1531    Moonraker
Name: title, dtype: object), (6, 501    The Little Prince
Name: title, dtype: object), (7, 751    Duplicity
Name: title, dtype: object), (8, 1257    Fantastic Mr. Fox
Name: title, dtype: object), (9, 3075    Crash
Name: title, dtype: object), (10, 3884    Goldfinger
Name: title, dtype: object), (11, 3143    You Only Live Twice
Name: title, dtype: object), (12, 4071    From Russia with Love
Name: title, dtype: object), (13, 3162    Thunderball
Name: title, dtype: object), (14, 3336    Diamonds Are Forever
Name: title, dtype: object), (15, 3351    The Man with the Golden Gun
Name: title, dtype: object), (16, 1713    For Your Eyes Only
Name: title, dtype: object), (17, 2675    The Spy Who Loved Me
Name: title, dtype: object), (18, 1586    A View to a Kill
Name: title, dtype: object), (19, 3251    On Her Majesty's Secret Service
Name: title, dtype: object)]



K =  20
[(0, 5    Spider-Man 3
Name: title, dtype: object), (1, 1177    Sin City
Name: title, dtype: object), (2, 30    Spider-Man 2
Name: title, dtype: object), (3, 2229    Machete Kills
Name: title, dtype: object), (4, 159    Spider-Man
Name: title, dtype: object), (5, 669    Sin City: A Dame to Kill For
Name: title, dtype: object), (6, 444    Road to Perdition
Name: title, dtype: object), (7, 110    Pearl Harbor
Name: title, dtype: object), (8, 1739    How to Lose Friends & Alienate People
Name: title, dtype: object), (9, 3028    Mo' Better Blues
Name: title, dtype: object), (10, 918    Inside Man
Name: title, dtype: object), (11, 590    The Siege
Name: title, dtype: object), (12, 880    Grindhouse
Name: title, dtype: object), (13, 883    Catch Me If You Can
Name: title, dtype: object), (14, 1632    The Next Three Days
Name: title, dtype: object), (15, 701    Cats & Dogs
Name: title, dtype: object), (16, 2922    Major League
Name: title, dtype: object), (17, 2483    Philadelphia
Name: title, dtype: object), (18, 476    Surrogates
Name: title, dtype: object), (19, 1381    Secretariat
Name: title, dtype: object)]



K =  21
[(0, 1538    Chicago
Name: title, dtype: object), (1, 1622    Bulworth
Name: title, dtype: object), (2, 633    Lincoln
Name: title, dtype: object), (3, 1333    Magnolia
Name: title, dtype: object), (4, 30    Spider-Man 2
Name: title, dtype: object), (5, 2572    Boogie Nights
Name: title, dtype: object), (6, 373    Mission to Mars
Name: title, dtype: object), (7, 2411    The Best Man Holiday
Name: title, dtype: object), (8, 3075    Crash
Name: title, dtype: object), (9, 1547    The Butler
Name: title, dtype: object), (10, 37    Oz: The Great and Powerful
Name: title, dtype: object), (11, 800    Red Tails
Name: title, dtype: object), (12, 879    Law Abiding Citizen
Name: title, dtype: object), (13, 902    Jerry Maguire
Name: title, dtype: object), (14, 227    Knight and Day
Name: title, dtype: object), (15, 2148    High Fidelity
Name: title, dtype: object), (16, 2869    For Your Consideration
Name: title, dtype: object), (17, 247    Ocean's Twelve
Name: title, dtype: object), (18, 5    Spider-Man 3
Name: title, dtype: object), (19, 4039    Idiocracy
Name: title, dtype: object)]



K =  22
[(0, 152    Kung Fu Panda 3
Name: title, dtype: object), (1, 181    Kung Fu Panda
Name: title, dtype: object), (2, 137    Kung Fu Panda 2
Name: title, dtype: object), (3, 1936    Tank Girl
Name: title, dtype: object), (4, 543    Monkeybone
Name: title, dtype: object), (5, 157    Exodus: Gods and Kings
Name: title, dtype: object), (6, 263    Around the World in 80 Days
Name: title, dtype: object), (7, 418    Cats & Dogs 2 : The Revenge of Kitty Galore
Name: title, dtype: object), (8, 108    Terminator Genisys
Name: title, dtype: object), (9, 3865    Whiplash
Name: title, dtype: object), (10, 1791    Legion
Name: title, dtype: object), (11, 1203    Secret Window
Name: title, dtype: object), (12, 551    Fool's Gold
Name: title, dtype: object), (13, 3638    Rabbit Hole
Name: title, dtype: object), (14, 49    The Great Gatsby
Name: title, dtype: object), (15, 884    Zero Dark Thirty
Name: title, dtype: object), (16, 150    Men in Black II
Name: title, dtype: object), (17, 577    AVP: Alien vs. Predator
Name: title, dtype: object), (18, 2179    School for Scoundrels
Name: title, dtype: object), (19, 1325    The Express
Name: title, dtype: object)]



K =  23
[(0, 281    American Gangster
Name: title, dtype: object), (1, 2105    12 Years a Slave
Name: title, dtype: object), (2, 2618    The Rocker
Name: title, dtype: object), (3, 32    Alice in Wonderland
Name: title, dtype: object), (4, 105    Alice Through the Looking Glass
Name: title, dtype: object), (5, 1913    Draft Day
Name: title, dtype: object), (6, 1820    The Fifth Estate
Name: title, dtype: object), (7, 220    Prometheus
Name: title, dtype: object), (8, 1433    The Four Feathers
Name: title, dtype: object), (9, 1429    Broken City
Name: title, dtype: object), (10, 1486    The Punisher
Name: title, dtype: object), (11, 2072    Freedom Writers
Name: title, dtype: object), (12, 483    Timeline
Name: title, dtype: object), (13, 2701    Little Children
Name: title, dtype: object), (14, 3637    Kill the Messenger
Name: title, dtype: object), (15, 38    The Amazing Spider-Man 2
Name: title, dtype: object), (16, 966    Marmaduke
Name: title, dtype: object), (17, 267    Kingdom of Heaven
Name: title, dtype: object), (18, 26    Captain America: Civil War
Name: title, dtype: object), (19, 579    We Were Soldiers
Name: title, dtype: object)]



K =  24
[(0, 2461    Moonrise Kingdom
Name: title, dtype: object), (1, 513    The Rock
Name: title, dtype: object), (2, 2836    Frida
Name: title, dtype: object), (3, 2023    The Animal
Name: title, dtype: object), (4, 497    Red Dragon
Name: title, dtype: object), (5, 2448    Wall Street
Name: title, dtype: object), (6, 3367    The Last Temptation of Christ
Name: title, dtype: object), (7, 998    The Big Bounce
Name: title, dtype: object), (8, 655    Red Dawn
Name: title, dtype: object), (9, 569    The SpongeBob Movie: Sponge Out of Water
Name: title, dtype: object), (10, 2490    Highlander
Name: title, dtype: object), (11, 3445    Platoon
Name: title, dtype: object), (12, 208    The 13th Warrior
Name: title, dtype: object), (13, 505    The League of Extraordinary Gentlemen
Name: title, dtype: object), (14, 2065    To Rome with Love
Name: title, dtype: object), (15, 3769    Talk Radio
Name: title, dtype: object), (16, 1546    The Hunt for Red October
Name: title, dtype: object), (17, 3334    Juno
Name: title, dtype: object), (18, 1799    Original Sin
Name: title, dtype: object), (19, 3766    Four Rooms
Name: title, dtype: object)]



K =  25
[(0, 2905    Snatch
Name: title, dtype: object), (1, 2188    Paparazzi
Name: title, dtype: object), (2, 1610    Hanna
Name: title, dtype: object), (3, 125    The Matrix Reloaded
Name: title, dtype: object), (4, 123    The Matrix Revolutions
Name: title, dtype: object), (5, 634    The Matrix
Name: title, dtype: object), (6, 100    The Curious Case of Benjamin Button
Name: title, dtype: object), (7, 1523    The Good German
Name: title, dtype: object), (8, 885    The Break-Up
Name: title, dtype: object), (9, 101    X-Men: First Class
Name: title, dtype: object), (10, 2537    Wag the Dog
Name: title, dtype: object), (11, 2790    True Romance
Name: title, dtype: object), (12, 2753    Being John Malkovich
Name: title, dtype: object), (13, 1688    Confessions of a Dangerous Mind
Name: title, dtype: object), (14, 145    Troy
Name: title, dtype: object), (15, 1525    Apocalypse Now
Name: title, dtype: object), (16, 2133    Babel
Name: title, dtype: object), (17, 1330    Burn After Reading
Name: title, dtype: object), (18, 586    The Monuments Men
Name: title, dtype: object), (19, 1021    Out of Sight
Name: title, dtype: object)]



K =  26
[(0, 1232    Morning Glory
Name: title, dtype: object), (1, 1194    The Lincoln Lawyer
Name: title, dtype: object), (2, 1552    The First Wives Club
Name: title, dtype: object), (3, 2942    Woman in Gold
Name: title, dtype: object), (4, 965    Striptease
Name: title, dtype: object), (5, 645    Broken Arrow
Name: title, dtype: object), (6, 2124    Lakeview Terrace
Name: title, dtype: object), (7, 4224    Insidious
Name: title, dtype: object), (8, 2324    Austin Powers: International Man of Mystery
Name: title, dtype: object), (9, 2569    Match Point
Name: title, dtype: object), (10, 585    War Horse
Name: title, dtype: object), (11, 698    The Prince of Egypt
Name: title, dtype: object), (12, 2281    A Cinderella Story
Name: title, dtype: object), (13, 1716    Zoolander
Name: title, dtype: object), (14, 1881    The Shawshank Redemption
Name: title, dtype: object), (15, 107    Warcraft
Name: title, dtype: object), (16, 1181    JFK
Name: title, dtype: object), (17, 1102    Argo
Name: title, dtype: object), (18, 1094    Miracle at St. Anna
Name: title, dtype: object), (19, 2701    Little Children
Name: title, dtype: object)]



K =  27
[(0, 161    Gods of Egypt
Name: title, dtype: object), (1, 3774    Red State
Name: title, dtype: object), (2, 675    Jurassic Park
Name: title, dtype: object), (3, 229    Star Wars: Episode III - Revenge of the Sith
Name: title, dtype: object), (4, 328    Finding Nemo
Name: title, dtype: object), (5, 3556    10 Cloverfield Lane
Name: title, dtype: object), (6, 375    Bicentennial Man
Name: title, dtype: object), (7, 624    Abraham Lincoln: Vampire Hunter
Name: title, dtype: object), (8, 1762    Dark City
Name: title, dtype: object), (9, 1839    Final Destination 3
Name: title, dtype: object), (10, 3175    Black Christmas
Name: title, dtype: object), (11, 852    The Phantom of the Opera
Name: title, dtype: object), (12, 1254    Get Carter
Name: title, dtype: object), (13, 3633    Everything Must Go
Name: title, dtype: object), (14, 334    Jurassic Park III
Name: title, dtype: object), (15, 34    Monsters University
Name: title, dtype: object), (16, 302    Legend of the Guardians: The Owls of Ga'Hoole
Name: title, dtype: object), (17, 1033    Insomnia
Name: title, dtype: object), (18, 1102    Argo
Name: title, dtype: object), (19, 1915    The Conspirator
Name: title, dtype: object)]

K =  28
[(0, 33    X-Men: The Last Stand
Name: title, dtype: object), (1, 46    X-Men: Days of Future Past
Name: title, dtype: object), (2, 511    X-Men
Name: title, dtype: object), (3, 3053    Movie 43
Name: title, dtype: object), (4, 203    X2
Name: title, dtype: object), (5, 232    The Wolverine
Name: title, dtype: object), (6, 441    Robots
Name: title, dtype: object), (7, 468    Swordfish
Name: title, dtype: object), (8, 122    X-Men Origins: Wolverine
Name: title, dtype: object), (9, 312    Green Zone
Name: title, dtype: object), (10, 3406    Dazed and Confused
Name: title, dtype: object), (11, 1612    Larry Crowne
Name: title, dtype: object), (12, 1921    Michael Collins
Name: title, dtype: object), (13, 1759    The Right Stuff
Name: title, dtype: object), (14, 431    Charlotte's Web
Name: title, dtype: object), (15, 1123    Boomerang
Name: title, dtype: object), (16, 1046    The Pelican Brief
Name: title, dtype: object), (17, 1182    Big Momma's House 2
Name: title, dtype: object), (18, 1030    Mary Reilly
Name: title, dtype: object), (19, 455    Conspiracy Theory
Name: title, dtype: object)]



K =  29
[(0, 945    G.I. Jane
Name: title, dtype: object), (1, 2358    The Tailor of Panama
Name: title, dtype: object), (2, 43    Terminator Salvation
Name: title, dtype: object), (3, 896    Barnyard
Name: title, dtype: object), (4, 695    GoldenEye
Name: title, dtype: object), (5, 823    Crimson Tide
Name: title, dtype: object), (6, 2541    The Faculty
Name: title, dtype: object), (7, 2818    Witness
Name: title, dtype: object), (8, 3365    Beyond the Lights
Name: title, dtype: object), (9, 2517    The King's Speech
Name: title, dtype: object), (10, 2665    Manderlay
Name: title, dtype: object), (11, 3701    Requiem for a Dream
Name: title, dtype: object), (12, 1025    The Thomas Crown Affair
Name: title, dtype: object), (13, 1862    Beauty Shop
Name: title, dtype: object), (14, 101    X-Men: First Class
Name: title, dtype: object), (15, 3488    Novocaine
Name: title, dtype: object), (16, 1105    Sleepers
Name: title, dtype: object), (17, 1938    Blindness
Name: title, dtype: object), (18, 804    After the Sunset
Name: title, dtype: object), (19, 2155    The World's End
Name: title, dtype: object)]



K =  30
[(0, 158    Star Trek
Name: title, dtype: object), (1, 47    Star Trek Into Darkness
Name: title, dtype: object), (2, 1328    The Town
Name: title, dtype: object), (3, 56    Star Trek Beyond
Name: title, dtype: object), (4, 1102    Argo
Name: title, dtype: object), (5, 1833    Legally Blonde 2: Red, White & Blonde
Name: title, dtype: object), (6, 1923    Stop-Loss
Name: title, dtype: object), (7, 2926    Dead Man Walking
Name: title, dtype: object), (8, 2105    12 Years a Slave
Name: title, dtype: object), (9, 1552    The First Wives Club
Name: title, dtype: object), (10, 298    The Wolf of Wall Street
Name: title, dtype: object), (11, 653    This Means War
Name: title, dtype: object), (12, 928    Moneyball
Name: title, dtype: object), (13, 1536    Vacation
Name: title, dtype: object), (14, 647    World Trade Center
Name: title, dtype: object), (15, 1920    Warrior
Name: title, dtype: object), (16, 403    Last Action Hero
Name: title, dtype: object), (17, 2917    The Fighter
Name: title, dtype: object), (18, 2225    Inherent Vice
Name: title, dtype: object), (19, 96    Inception
Name: title, dtype: object)]



K =  31
[(0, 320    Black Hawk Down
Name: title, dtype: object), (1, 2412    Smokin' Aces
Name: title, dtype: object), (2, 830    Kill Bill: Vol. 2
Name: title, dtype: object), (3, 828    Kill Bill: Vol. 1
Name: title, dtype: object), (4, 110    Pearl Harbor
Name: title, dtype: object), (5, 21    Robin Hood
Name: title, dtype: object), (6, 2602    The Man with the Iron Fists
Name: title, dtype: object), (7, 553    The Kingdom
Name: title, dtype: object), (8, 111    Transformers
Name: title, dtype: object), (9, 1042    Scary Movie 3
Name: title, dtype: object), (10, 538    Hostage
Name: title, dtype: object), (11, 2222    Code Name: The Cleaner
Name: title, dtype: object), (12, 602    Ballistic: Ecks vs. Sever
Name: title, dtype: object), (13, 732    Paycheck
Name: title, dtype: object), (14, 895    Me, Myself & Irene
Name: title, dtype: object), (15, 210    Batman & Robin
Name: title, dtype: object), (16, 91    Independence Day: Resurgence
Name: title, dtype: object), (17, 919    Payback
Name: title, dtype: object), (18, 3983    Hustle & Flow
Name: title, dtype: object), (19, 776    Winter's Tale
Name: title, dtype: object)]



K =  32
[(0, 247    Ocean's Twelve
Name: title, dtype: object), (1, 204    Fast Five
Name: title, dtype: object), (2, 398    Ocean's Thirteen
Name: title, dtype: object), (3, 388    Ocean's Eleven
Name: title, dtype: object), (4, 500    2 Fast 2 Furious
Name: title, dtype: object), (5, 44    Furious 7
Name: title, dtype: object), (6, 2738    About Last Night
Name: title, dtype: object), (7, 1963    Think Like a Man Too
Name: title, dtype: object), (8, 2095    Beverly Hills Chihuahua
Name: title, dtype: object), (9, 3213    Baggage Claim
Name: title, dtype: object), (10, 1978    Ready to Rumble
Name: title, dtype: object), (11, 582    Battle: Los Angeles
Name: title, dtype: object), (12, 111    Transformers
Name: title, dtype: object), (13, 1503    Takers
Name: title, dtype: object), (14, 2813    Think Like a Man
Name: title, dtype: object), (15, 99    The Fast and the Furious
Name: title, dtype: object), (16, 1582    Message in a Bottle
Name: title, dtype: object), (17, 3983    Hustle & Flow
Name: title, dtype: object), (18, 2467    Baby Boy
Name: title, dtype: object), (19, 559    The Majestic
Name: title, dtype: object)]



K =  33
[(0, 3181    Igby Goes Down
Name: title, dtype: object), (1, 820    Casper
Name: title, dtype: object), (2, 225    Speed Racer
Name: title, dtype: object), (3, 2802    Solitary Man
Name: title, dtype: object), (4, 701    Cats & Dogs
Name: title, dtype: object), (5, 3070    Jeff, Who Lives at Home
Name: title, dtype: object), (6, 3717    After.Life
Name: title, dtype: object), (7, 2043    Homefront
Name: title, dtype: object), (8, 2926    Dead Man Walking
Name: title, dtype: object), (9, 91    Independence Day: Resurgence
Name: title, dtype: object), (10, 507    Independence Day
Name: title, dtype: object), (11, 1542    Speed
Name: title, dtype: object), (12, 2008    In the Valley of Elah
Name: title, dtype: object), (13, 2539    Snitch
Name: title, dtype: object), (14, 2596    Knockaround Guys
Name: title, dtype: object), (15, 1176    Ray
Name: title, dtype: object), (16, 1047    The Client
Name: title, dtype: object), (17, 588    Wall Street: Money Never Sleeps
Name: title, dtype: object), (18, 2864    Arbitrage
Name: title, dtype: object), (19, 1817    The Bodyguard
Name: title, dtype: object)]



K =  34
[(0, 2213    Deconstructing Harry
Name: title, dtype: object), (1, 1275    Sunshine
Name: title, dtype: object), (2, 408    Collateral Damage
Name: title, dtype: object), (3, 2435    Running Scared
Name: title, dtype: object), (4, 2096    The Conjuring
Name: title, dtype: object), (5, 3743    Leaving Las Vegas
Name: title, dtype: object), (6, 1581    Blow
Name: title, dtype: object), (7, 1565    Up in the Air
Name: title, dtype: object), (8, 138    The Last Airbender
Name: title, dtype: object), (9, 1981    Piranha 3D
Name: title, dtype: object), (10, 1052    Training Day
Name: title, dtype: object), (11, 1012    Three Kings
Name: title, dtype: object), (12, 2142    Risen
Name: title, dtype: object), (13, 1093    Deep Rising
Name: title, dtype: object), (14, 2120    Orphan
Name: title, dtype: object), (15, 3340    The Piano
Name: title, dtype: object), (16, 1133    15 Minutes
Name: title, dtype: object), (17, 1165    Back to the Future Part III
Name: title, dtype: object), (18, 462    The Manchurian Candidate
Name: title, dtype: object), (19, 457    Six Days Seven Nights
Name: title, dtype: object)]



K =  35
[(0, 16    The Avengers
Name: title, dtype: object), (1, 7    Avengers: Age of Ultron
Name: title, dtype: object), (2, 129    Thor
Name: title, dtype: object), (3, 79    Iron Man 2
Name: title, dtype: object), (4, 31    Iron Man 3
Name: title, dtype: object), (5, 739    London Has Fallen
Name: title, dtype: object), (6, 233    Star Wars: Episode I - The Phantom Menace
Name: title, dtype: object), (7, 1640    North Country
Name: title, dtype: object), (8, 140    White House Down
Name: title, dtype: object), (9, 126    Thor: The Dark World
Name: title, dtype: object), (10, 580    Olympus Has Fallen
Name: title, dtype: object), (11, 68    Iron Man
Name: title, dtype: object), (12, 26    Captain America: Civil War
Name: title, dtype: object), (13, 772    The Black Dahlia
Name: title, dtype: object), (14, 1087    The Pledge
Name: title, dtype: object), (15, 1873    Blood Ties
Name: title, dtype: object), (16, 85    Captain America: The Winter Soldier
Name: title, dtype: object), (17, 2383    The Informers
Name: title, dtype: object), (18, 712    Any Given Sunday
Name: title, dtype: object), (19, 2123    Spotlight
Name: title, dtype: object)]



K =  36
[(0, 2706    Jefferson in Paris
Name: title, dtype: object), (1, 3934    Basquiat
Name: title, dtype: object), (2, 1490    Return of the Jedi
Name: title, dtype: object), (3, 2472    The Women
Name: title, dtype: object), (4, 1990    The Empire Strikes Back
Name: title, dtype: object), (5, 1585    The Naked Gun 33: The Final Insult
Name: title, dtype: object), (6, 123    The Matrix Revolutions
Name: title, dtype: object), (7, 3073    Romeo Is Bleeding
Name: title, dtype: object), (8, 2912    Star Wars
Name: title, dtype: object), (9, 1728    We Own the Night
Name: title, dtype: object), (10, 9    Batman v Superman: Dawn of Justice
Name: title, dtype: object), (11, 3537    Wonderland
Name: title, dtype: object), (12, 990    The Scarlet Letter
Name: title, dtype: object), (13, 1370    21
Name: title, dtype: object), (14, 101    X-Men: First Class
Name: title, dtype: object), (15, 1164    Scream 3
Name: title, dtype: object), (16, 2777    Excessive Force
Name: title, dtype: object), (17, 2671    Born on the Fourth of July
Name: title, dtype: object), (18, 572    Hook
Name: title, dtype: object), (19, 1181    JFK
Name: title, dtype: object)]



K =  37
[(0, 149    Armageddon
Name: title, dtype: object), (1, 52    Transformers: Dark of the Moon
Name: title, dtype: object), (2, 629    Need for Speed
Name: title, dtype: object), (3, 186    Bad Boys II
Name: title, dtype: object), (4, 1265    FearDotCom
Name: title, dtype: object), (5, 1869    The Hours
Name: title, dtype: object), (6, 1542    Speed
Name: title, dtype: object), (7, 1056    Blade
Name: title, dtype: object), (8, 36    Transformers: Age of Extinction
Name: title, dtype: object), (9, 2031    The Informant!
Name: title, dtype: object), (10, 1836    Tombstone
Name: title, dtype: object), (11, 1061    Love Actually
Name: title, dtype: object), (12, 187    Puss in Boots
Name: title, dtype: object), (13, 107    Warcraft
Name: title, dtype: object), (14, 718    Deep Blue Sea
Name: title, dtype: object), (15, 959    On Deadly Ground
Name: title, dtype: object), (16, 508    The Lost World: Jurassic Park
Name: title, dtype: object), (17, 1354    Space Chimps
Name: title, dtype: object), (18, 3741    Monster's Ball
Name: title, dtype: object), (19, 288    The Hunchback of Notre Dame
Name: title, dtype: object)]



K =  38
[(0, 1045    The Princess Diaries 2: Royal Engagement
Name: title, dtype: object), (1, 940    Syriana
Name: title, dtype: object), (2, 3238    Little Miss Sunshine
Name: title, dtype: object), (3, 3055    Seeking a Friend for the End of the World
Name: title, dtype: object), (4, 270    The Martian
Name: title, dtype: object), (5, 663    We Are Marshall
Name: title, dtype: object), (6, 1557    Million Dollar Baby
Name: title, dtype: object), (7, 2041    Hail, Caesar!
Name: title, dtype: object), (8, 1156    A Time to Kill
Name: title, dtype: object), (9, 3599    Lone Star
Name: title, dtype: object), (10, 344    Unstoppable
Name: title, dtype: object), (11, 146    Madagascar 3: Europe's Most Wanted
Name: title, dtype: object), (12, 598    Rock of Ages
Name: title, dtype: object), (13, 1189    Get Him to the Greek
Name: title, dtype: object), (14, 1885    August: Osage County
Name: title, dtype: object), (15, 95    Interstellar
Name: title, dtype: object), (16, 26    Captain America: Civil War
Name: title, dtype: object), (17, 900    The Adjustment Bureau
Name: title, dtype: object), (18, 1315    Rock Star
Name: title, dtype: object), (19, 3320    Extract
Name: title, dtype: object)]



K =  39
[(0, 2307    Adaptation.
Name: title, dtype: object), (1, 3348    Capote
Name: title, dtype: object), (2, 2212    Triple 9
Name: title, dtype: object), (3, 386    The Bourne Supremacy
Name: title, dtype: object), (4, 2714    Margaret
Name: title, dtype: object), (5, 1027    First Blood
Name: title, dtype: object), (6, 774    The Last Castle
Name: title, dtype: object), (7, 266    I, Robot
Name: title, dtype: object), (8, 158    Star Trek
Name: title, dtype: object), (9, 2475    Boys and Girls
Name: title, dtype: object), (10, 1172    Eight Below
Name: title, dtype: object), (11, 421    Zodiac
Name: title, dtype: object), (12, 1537    Get Shorty
Name: title, dtype: object), (13, 773    Flyboys
Name: title, dtype: object), (14, 3426    Friends with Money
Name: title, dtype: object), (15, 341    Percy Jackson & the Olympians: The Lightning T...
Name: title, dtype: object), (16, 702    The Italian Job
Name: title, dtype: object), (17, 3699    25th Hour
Name: title, dtype: object), (18, 1358    Austin Powers: The Spy Who Shagged Me
Name: title, dtype: object), (19, 662    Fight Club
Name: title, dtype: object)]



K =  40
[(0, 2115    Selma
Name: title, dtype: object), (1, 1239    The Musketeer
Name: title, dtype: object), (2, 1374    L.A. Confidential
Name: title, dtype: object), (3, 792    Just Like Heaven
Name: title, dtype: object), (4, 274    Gladiator
Name: title, dtype: object), (5, 311    The Adventures of Pluto Nash
Name: title, dtype: object), (6, 4100    Captive
Name: title, dtype: object), (7, 2240    A Most Violent Year
Name: title, dtype: object), (8, 622    Body of Lies
Name: title, dtype: object), (9, 611    The Sum of All Fears
Name: title, dtype: object), (10, 2602    The Man with the Iron Fists
Name: title, dtype: object), (11, 21    Robin Hood
Name: title, dtype: object), (12, 174    The Incredible Hulk
Name: title, dtype: object), (13, 902    Jerry Maguire
Name: title, dtype: object), (14, 3766    Four Rooms
Name: title, dtype: object), (15, 3174    Trading Places
Name: title, dtype: object), (16, 699    Daddy Day Care
Name: title, dtype: object), (17, 1056    Blade
Name: title, dtype: object), (18, 684    The Hateful Eight
Name: title, dtype: object), (19, 567    Runaway Bride
Name: title, dtype: object)]



K =  41
[(0, 550    The Angry Birds Movie
Name: title, dtype: object), (1, 137    Kung Fu Panda 2
Name: title, dtype: object), (2, 674    Astro Boy
Name: title, dtype: object), (3, 136    Bee Movie
Name: title, dtype: object), (4, 769    Sinbad: Legend of the Seven Seas
Name: title, dtype: object), (5, 177    Turbo
Name: title, dtype: object), (6, 1197    Horrible Bosses 2
Name: title, dtype: object), (7, 139    Mission: Impossible III
Name: title, dtype: object), (8, 268    Stuart Little
Name: title, dtype: object), (9, 2467    Baby Boy
Name: title, dtype: object), (10, 1088    The Producers
Name: title, dtype: object), (11, 446    Con Air
Name: title, dtype: object), (12, 1364    Horrible Bosses
Name: title, dtype: object), (13, 2412    Smokin' Aces
Name: title, dtype: object), (14, 1022    The Cable Guy
Name: title, dtype: object), (15, 392    Safe House
Name: title, dtype: object), (16, 89    Wreck-It Ralph
Name: title, dtype: object), (17, 573    Die Hard 2
Name: title, dtype: object), (18, 2027    I Am Sam
Name: title, dtype: object), (19, 3320    Extract
Name: title, dtype: object)]



K =  42

[(0, 1091    Nixon
Name: title, dtype: object), (1, 2496    Soul Plane
Name: title, dtype: object), (2, 1752    Kiss the Girls
Name: title, dtype: object), (3, 1924    Abandon
Name: title, dtype: object), (4, 401    Enemy at the Gates
Name: title, dtype: object), (5, 2168    Appaloosa
Name: title, dtype: object), (6, 1759    The Right Stuff
Name: title, dtype: object), (7, 778    Meet Dave
Name: title, dtype: object), (8, 1792    Pain & Gain
Name: title, dtype: object), (9, 353    Tropic Thunder
Name: title, dtype: object), (10, 1146    Man on a Ledge
Name: title, dtype: object), (11, 1221    The Doors
Name: title, dtype: object), (12, 2301    Take Me Home Tonight
Name: title, dtype: object), (13, 1836    Tombstone
Name: title, dtype: object), (14, 94    Guardians of the Galaxy
Name: title, dtype: object), (15, 189    Noah
Name: title, dtype: object), (16, 80    Snow White and the Huntsman
Name: title, dtype: object), (17, 2477    Jennifer's Body
Name: title, dtype: object), (18, 1630    The Five-Year Engagement
Name: title, dtype: object), (19, 1798    New Year's Eve
Name: title, dtype: object)]



K =  43
[(0, 2543    Cop Land
Name: title, dtype: object), (1, 1097    Big Trouble
Name: title, dtype: object), (2, 636    The Santa Clause 2
Name: title, dtype: object), (3, 2760    Room
Name: title, dtype: object), (4, 2019    The Santa Clause
Name: title, dtype: object), (5, 503    The Adventures of Rocky & Bullwinkle
Name: title, dtype: object), (6, 1558    Analyze This
Name: title, dtype: object), (7, 1173    The Intern
Name: title, dtype: object), (8, 2435    Running Scared
Name: title, dtype: object), (9, 1220    8MM
Name: title, dtype: object), (10, 835    Mr. Popper's Penguins
Name: title, dtype: object), (11, 2537    Wag the Dog
Name: title, dtype: object), (12, 697    The Truman Show
Name: title, dtype: object), (13, 1369    Cape Fear
Name: title, dtype: object), (14, 2493    The Immigrant
Name: title, dtype: object), (15, 2165    Shorts
Name: title, dtype: object), (16, 2790    True Romance
Name: title, dtype: object), (17, 2333    Peggy Sue Got Married
Name: title, dtype: object), (18, 618    Mystery Men
Name: title, dtype: object), (19, 2368    Ed Wood
Name: title, dtype: object)]



K =  44
[(0, 42    Toy Story 3
Name: title, dtype: object), (1, 77    Inside Out
Name: title, dtype: object), (2, 231    Monsters, Inc.
Name: title, dtype: object), (3, 566    Cars
Name: title, dtype: object), (4, 57    WALLE
Name: title, dtype: object), (5, 343    Toy Story 2
Name: title, dtype: object), (6, 504    The Secret Life of Pets
Name: title, dtype: object), (7, 506    Despicable Me 2
Name: title, dtype: object), (8, 347    Cloudy with a Chance of Meatballs
Name: title, dtype: object), (9, 34    Monsters University
Name: title, dtype: object), (10, 1541    Toy Story
Name: title, dtype: object), (11, 66    Up
Name: title, dtype: object), (12, 89    Wreck-It Ralph
Name: title, dtype: object), (13, 173    Happy Feet Two
Name: title, dtype: object), (14, 167    Sahara
Name: title, dtype: object), (15, 40    Cars 2
Name: title, dtype: object), (16, 813    Superman
Name: title, dtype: object), (17, 1990    The Empire Strikes Back
Name: title, dtype: object), (18, 812    Pocahontas
Name: title, dtype: object), (19, 268    Stuart Little
Name: title, dtype: object)]



K =  45
[(0, 1816    The Best of Me
Name: title, dtype: object), (1, 203    X2
Name: title, dtype: object), (2, 46    X-Men: Days of Future Past
Name: title, dtype: object), (3, 33    X-Men: The Last Stand
Name: title, dtype: object), (4, 700    2 Guns
Name: title, dtype: object), (5, 516    Hairspray
Name: title, dtype: object), (6, 1716    Zoolander
Name: title, dtype: object), (7, 1466    Unfinished Business
Name: title, dtype: object), (8, 3949    Bachelorette
Name: title, dtype: object), (9, 2981    She's All That
Name: title, dtype: object), (10, 418    Cats & Dogs 2 : The Revenge of Kitty Galore
Name: title, dtype: object), (11, 2702    Gossip
Name: title, dtype: object), (12, 686    Hop
Name: title, dtype: object), (13, 1928    Straw Dogs
Name: title, dtype: object), (14, 10    Superman Returns
Name: title, dtype: object), (15, 1902    The Box
Name: title, dtype: object), (16, 2581    Disturbing Behavior
Name: title, dtype: object), (17, 4218    The Squid and the Whale
Name: title, dtype: object), (18, 3293    10th & Wolf
Name: title, dtype: object), (19, 765    Almost Famous
Name: title, dtype: object)]



K =  46
[(0, 12    Pirates of the Caribbean: Dead Man's Chest
Name: title, dtype: object), (1, 1    Pirates of the Caribbean: At World's End
Name: title, dtype: object), (2, 199    Pirates of the Caribbean: The Curse of the Bla...
Name: title, dtype: object), (3, 544    Flight of the Phoenix
Name: title, dtype: object), (4, 1000    Drive Angry
Name: title, dtype: object), (5, 2154    Street Kings
Name: title, dtype: object), (6, 87    Tomorrowland
Name: title, dtype: object), (7, 1878    Spice World
Name: title, dtype: object), (8, 82    Dawn of the Planet of the Apes
Name: title, dtype: object), (9, 76    G.I. Joe: The Rise of Cobra
Name: title, dtype: object), (10, 2432    American Dreamz
Name: title, dtype: object), (11, 1005    Traffic
Name: title, dtype: object), (12, 840    Ronin
Name: title, dtype: object), (13, 1271    Pandorum
Name: title, dtype: object), (14, 2751    The Mist
Name: title, dtype: object), (15, 979    Free State of Jones
Name: title, dtype: object), (16, 1568    Looper
Name: title, dtype: object), (17, 868    Elizabethtown
Name: title, dtype: object), (18, 562    The Village
Name: title, dtype: object), (19, 28    Jurassic World
Name: title, dtype: object)]



K =  47
[(0, 347    Cloudy with a Chance of Meatballs
Name: title, dtype: object), (1, 843    The Watch
Name: title, dtype: object), (2, 496    Cloudy with a Chance of Meatballs 2
Name: title, dtype: object), (3, 802    That's My Boy
Name: title, dtype: object), (4, 2154    Street Kings
Name: title, dtype: object), (5, 2834    How High
Name: title, dtype: object), (6, 3425    Go
Name: title, dtype: object), (7, 967    Hereafter
Name: title, dtype: object), (8, 2683    All About the Benjamins
Name: title, dtype: object), (9, 2999    Friday After Next
Name: title, dtype: object), (10, 3346    Jumping the Broom
Name: title, dtype: object), (11, 1191    Small Soldiers
Name: title, dtype: object), (12, 3609    Fifty Shades of Black
Name: title, dtype: object), (13, 1746    Welcome Home Roscoe Jenkins
Name: title, dtype: object), (14, 3141    Next Friday
Name: title, dtype: object), (15, 1986    Faster
Name: title, dtype: object), (16, 2849    Nebraska
Name: title, dtype: object), (17, 2097    Are We There Yet?
Name: title, dtype: object), (18, 3016    Sparkle
Name: title, dtype: object), (19, 3473    200 Cigarettes
Name: title, dtype: object)]



K =  48
[(0, 1798    New Year's Eve
Name: title, dtype: object), (1, 2312    Neighbors
Name: title, dtype: object), (2, 1385    Neighbors 2: Sorority Rising
Name: title, dtype: object), (3, 1117    Charlie St. Cloud
Name: title, dtype: object), (4, 516    Hairspray
Name: title, dtype: object), (5, 1184    17 Again
Name: title, dtype: object), (6, 3584    Race
Name: title, dtype: object), (7, 3247    That Awkward Moment
Name: title, dtype: object), (8, 4097    We Are Your Friends
Name: title, dtype: object), (9, 1944    Me and Orson Welles
Name: title, dtype: object), (10, 1840    The Lucky One
Name: title, dtype: object), (11, 466    The Time Machine
Name: title, dtype: object), (12, 995    Beautiful Creatures
Name: title, dtype: object), (13, 292    Eragon
Name: title, dtype: object), (14, 323    Sex and the City 2
Name: title, dtype: object), (15, 1980    I Don't Know How She Does It
Name: title, dtype: object), (16, 797    Did You Hear About the Morgans?
Name: title, dtype: object), (17, 1314    Extreme Measures
Name: title, dtype: object), (18, 2168    Appaloosa
Name: title, dtype: object), (19, 355    Die Hard: With a Vengeance
Name: title, dtype: object)]



K =  49
[(0, 2324    Austin Powers: International Man of Mystery
Name: title, dtype: object), (1, 1163    Scary Movie 4
Name: title, dtype: object), (2, 997    Zoolander 2
Name: title, dtype: object), (3, 2478    Drowning Mona
Name: title, dtype: object), (4, 341    Percy Jackson & the Olympians: The Lightning T...
Name: title, dtype: object), (5, 1358    Austin Powers: The Spy Who Shagged Me
Name: title, dtype: object), (6, 3739    Annie Hall
Name: title, dtype: object), (7, 906    Anchorman 2: The Legend Continues
Name: title, dtype: object), (8, 3827    Friday
Name: title, dtype: object), (9, 934    Curious George
Name: title, dtype: object), (10, 3566    Freddy's Dead: The Final Nightmare
Name: title, dtype: object), (11, 2496    Soul Plane
Name: title, dtype: object), (12, 2640    Things to Do in Denver When You're Dead
Name: title, dtype: object), (13, 226    How Do You Know
Name: title, dtype: object), (14, 2938    The Ladies Man
Name: title, dtype: object), (15, 402    The Rundown
Name: title, dtype: object), (16, 1394    Donnie Brasco
Name: title, dtype: object), (17, 1089    The Phantom
Name: title, dtype: object), (18, 1939    BloodRayne
Name: title, dtype: object), (19, 682    The Love Guru
Name: title, dtype: object)]

# PCA substitute confounder

In [36]:
dim = 50
X = train_data_coo.todense()
Xscaler = preprocessing.StandardScaler(with_std=False).fit(X)
Xscaled = Xscaler.fit_transform(X)
pca = PCA(n_components=dim)
pca.fit(Xscaled)
pcaU = pca.fit_transform(Xscaled)
np.savetxt(OUT_DIR + '/cause_pca_k'+str(dim)+'_U.csv', pcaU)
np.savetxt(OUT_DIR + '/cause_pca_k'+str(dim)+'_V.csv', pca.components_.T)

# DEF substitute confounder

In [37]:
from fit_def import fit_def

fit_def.py:11: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

The backend was *originally* set to 'module://ipykernel.pylab.backend_inline' by the following code:
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/traitlets/config/application.py", line 658, in launch_instance
    app.start()
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/ipykernel/kernelapp.py", line 478, in start
    self.io_loop.start()
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/zmq/eventloop/ioloop.py", line 177, in start
    super(ZMQIOLoop, self).start()
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/tornado/ioloop.py", line 888, in start
    handler_func(fd_obj, events)
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/tornado/stack_context.py", line 277, in null_wrapper
    return fn(*args, **kwargs)
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/zmq/eventloop/zmqstream.py", line 440, in _handle_events
    self._handle_recv()
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/zmq/eventloop/zmqstream.py", line 472, in _handle_recv
    self._run_callback(callback, msg)
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/zmq/eventloop/zmqstream.py", line 414, in _run_callback
    callback(*args, **kwargs)
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/tornado/stack_context.py", line 277, in null_wrapper
    return fn(*args, **kwargs)
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/ipykernel/kernelbase.py", line 283, in dispatcher
    return self.dispatch_shell(stream, msg)
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/ipykernel/kernelbase.py", line 233, in dispatch_shell
    handler(stream, idents, msg)
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/ipykernel/kernelbase.py", line 399, in execute_request
    user_expressions, allow_stdin)
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/ipykernel/ipkernel.py", line 208, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/ipykernel/zmqshell.py", line 537, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/IPython/core/interactiveshell.py", line 2728, in run_cell
    self.events.trigger('post_run_cell')
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/IPython/core/events.py", line 74, in trigger
    func(*args, **kwargs)
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/ipykernel/pylab/backend_inline.py", line 160, in configure_once
    activate_matplotlib(backend)
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/IPython/core/pylabtools.py", line 309, in activate_matplotlib
    matplotlib.pyplot.switch_backend(backend)
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/matplotlib/pyplot.py", line 232, in switch_backend
    matplotlib.use(newbackend, warn=False, force=True)
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/matplotlib/__init__.py", line 1305, in use
    reload(sys.modules['matplotlib.backends'])
  File "/Users/yixinwang/py2/lib/python2.7/site-packages/matplotlib/backends/__init__.py", line 14, in <module>
    line for line in traceback.format_stack()


  matplotlib.use('Agg')

In [38]:
def_x_post, \
def_z3_post, def_z2_post, def_z1_post, \
def_W0_post, def_x_post_np, def_z_post_np = \
fit_def(X.T, K=[50,20,5], prior_a=0.1, prior_b=100., \
        optimizer=tf.train.AdamOptimizer(1e-3), n_iter=100000)

Epoch 0
1000/1000 [100%]  Elapsed: 23s
Negative log-likelihood <= 5705453.819
Perplexity <= 151894012843531494445974496229055017569493080983418713940647207329563001767104774136107828805866257994556508838645957687822855823776855046850200894710315651322381868111338820970290624351915292776988672.000
trivial mse 0.0048704334
mse 0.004879967
5705453.81875 1e+16 True
cur-LL 5705453.81875 min-LL 5705453.81875 diffratio-LL 0.0
-1e+16 0.0
Epoch 1
1000/1000 [100%]  Elapsed: 28s
Negative log-likelihood <= 2791740.347
Perplexity <= 89329711001902319999884979184727660036951572998080608662454334163968749804998119773415835871215616.000
trivial mse 0.0048704334
mse 0.0048700906
2791740.347 5705453.81875 True
cur-LL 2791740.347 min-LL 2791740.347 diffratio-LL 0.0
0.0 0.0
Epoch 2
1000/1000 [100%]  Elapsed: 28s
Negative log-likelihood <= 1749721.890
Perplexity <= 24588868702842171737808056045397562864860201884280017968431104.000
trivial mse 0.0048704334
mse 0.0048806393
1749721.890125 2791740.347 True
cur-LL 1749721.890125 min-LL 1749721.890125 diffratio-LL 0.0
0.0 0.0
Epoch 3
1000/1000 [100%]  Elapsed: 26s
Negative log-likelihood <= 1215632.655
Perplexity <= 4484197826228211072357178597334880285097984.000
trivial mse 0.0048704334
mse 0.0048691626
1215632.6548125 1749721.890125 True
cur-LL 1215632.6548125 min-LL 1215632.6548125 diffratio-LL 0.0
0.0 0.0
Epoch 4
1000/1000 [100%]  Elapsed: 27s
Negative log-likelihood <= 898942.679
Perplexity <= 34697721215793938213400458821632.000
trivial mse 0.0048704334
mse 0.0048684706
898942.679375 1215632.6548125 True
cur-LL 898942.679375 min-LL 898942.679375 diffratio-LL 0.0
0.0 0.0
Epoch 5
1000/1000 [100%]  Elapsed: 25s
Negative log-likelihood <= 695010.424
Perplexity <= 2427360374455991485333504.000
trivial mse 0.0048704334
mse 0.004869248
695010.423625 898942.679375 True
cur-LL 695010.423625 min-LL 695010.423625 diffratio-LL 0.0
0.0 0.0
Epoch 6
1000/1000 [100%]  Elapsed: 29s
Negative log-likelihood <= 557235.899
Perplexity <= 35577675962354982912.000
trivial mse 0.0048704334
mse 0.004868857
557235.8989375 695010.423625 True
cur-LL 557235.8989375 min-LL 557235.8989375 diffratio-LL 0.0
0.0 0.0
Epoch 7
1000/1000 [100%]  Elapsed: 26s
Negative log-likelihood <= 459834.636
Perplexity <= 13606833972763058.000
trivial mse 0.0048704334
mse 0.0048698136
459834.63646875 557235.8989375 True
cur-LL 459834.63646875 min-LL 459834.63646875 diffratio-LL 0.0
0.0 0.0
Epoch 8
1000/1000 [100%]  Elapsed: 26s
Negative log-likelihood <= 387451.564
Perplexity <= 39275773981757.891
trivial mse 0.0048704334
mse 0.0048698736
387451.56384375 459834.63646875 True
cur-LL 387451.56384375 min-LL 387451.56384375 diffratio-LL 0.0
0.0 0.0
Epoch 9
1000/1000 [100%]  Elapsed: 29s
Negative log-likelihood <= 331671.321
Perplexity <= 433530123234.591
trivial mse 0.0048704334
mse 0.0048701023
331671.32128125 387451.56384375 True
cur-LL 331671.32128125 min-LL 331671.32128125 diffratio-LL 0.0
0.0 0.0
Epoch 10
1000/1000 [100%]  Elapsed: 28s
Negative log-likelihood <= 287115.977
Perplexity <= 11850879203.537
trivial mse 0.0048704334
mse 0.0048701884
287115.97721875 331671.32128125 True
cur-LL 287115.97721875 min-LL 287115.97721875 diffratio-LL 0.0
0.0 0.0
Epoch 11
1000/1000 [100%]  Elapsed: 27s
Negative log-likelihood <= 250599.643
Perplexity <= 620209690.482
trivial mse 0.0048704334
mse 0.004870329
250599.643046875 287115.97721875 True
cur-LL 250599.643046875 min-LL 250599.643046875 diffratio-LL 0.0
0.0 0.0
Epoch 12
1000/1000 [100%]  Elapsed: 30s
Negative log-likelihood <= 220453.151
Perplexity <= 54302369.527
trivial mse 0.0048704334
mse 0.004870288
220453.150703125 250599.643046875 True
cur-LL 220453.150703125 min-LL 220453.150703125 diffratio-LL 0.0
0.0 0.0
Epoch 13
1000/1000 [100%]  Elapsed: 27s
Negative log-likelihood <= 195002.402
Perplexity <= 6947904.778
trivial mse 0.0048704334
mse 0.004870253
195002.40178125 220453.150703125 True
cur-LL 195002.40178125 min-LL 195002.40178125 diffratio-LL 0.0
0.0 0.0
Epoch 14
1000/1000 [100%]  Elapsed: 27s
Negative log-likelihood <= 173563.210
Perplexity <= 1229244.934
trivial mse 0.0048704334
mse 0.0048703346
173563.210203125 195002.40178125 True
cur-LL 173563.210203125 min-LL 173563.210203125 diffratio-LL 0.0
0.0 0.0
Epoch 15
1000/1000 [100%]  Elapsed: 25s
Negative log-likelihood <= 155402.174
Perplexity <= 283426.443
trivial mse 0.0048704334
mse 0.0048704054
155402.17446875 173563.210203125 True
cur-LL 155402.17446875 min-LL 155402.17446875 diffratio-LL 0.0
0.0 0.0
Epoch 16
1000/1000 [100%]  Elapsed: 27s
Negative log-likelihood <= 139931.884
Perplexity <= 81217.535
trivial mse 0.0048704334
mse 0.0048703784
139931.884453125 155402.17446875 True
cur-LL 139931.884453125 min-LL 139931.884453125 diffratio-LL 0.0
0.0 0.0
Epoch 17
1000/1000 [100%]  Elapsed: 27s
Negative log-likelihood <= 126678.932
Perplexity <= 27839.200
trivial mse 0.0048704334
mse 0.0048703416
126678.93215625 139931.884453125 True
cur-LL 126678.93215625 min-LL 126678.93215625 diffratio-LL 0.0
0.0 0.0
Epoch 18
1000/1000 [100%]  Elapsed: 29s
Negative log-likelihood <= 115136.470
Perplexity <= 10956.654
trivial mse 0.0048704334
mse 0.0048703784
115136.4696015625 126678.93215625 True
cur-LL 115136.4696015625 min-LL 115136.4696015625 diffratio-LL 0.0
0.0 0.0
Epoch 19
1000/1000 [100%]  Elapsed: 31s
Negative log-likelihood <= 105118.948
Perplexity <= 4877.566
trivial mse 0.0048704334
mse 0.004870405
105118.94828125 115136.4696015625 True
cur-LL 105118.94828125 min-LL 105118.94828125 diffratio-LL 0.0
0.0 0.0
Epoch 20
1000/1000 [100%]  Elapsed: 28s
Negative log-likelihood <= 96375.098
Perplexity <= 2406.670
trivial mse 0.0048704334
mse 0.0048703984
96375.098390625 105118.94828125 True
cur-LL 96375.098390625 min-LL 96375.098390625 diffratio-LL 0.0
0.0 0.0
Epoch 21
1000/1000 [100%]  Elapsed: 31s
Negative log-likelihood <= 88801.062
Perplexity <= 1305.190
trivial mse 0.0048704334
mse 0.0048704203
88801.0615625 96375.098390625 True
cur-LL 88801.0615625 min-LL 88801.0615625 diffratio-LL 0.0
0.0 0.0
Epoch 22
1000/1000 [100%]  Elapsed: 31s
Negative log-likelihood <= 82170.829
Perplexity <= 763.916
trivial mse 0.0048704334
mse 0.0048704203
82170.828984375 88801.0615625 True
cur-LL 82170.828984375 min-LL 82170.828984375 diffratio-LL 0.0
0.0 0.0
Epoch 23
1000/1000 [100%]  Elapsed: 28s
Negative log-likelihood <= 76365.013
Perplexity <= 477.906
trivial mse 0.0048704334
mse 0.004870414
76365.013375 82170.828984375 True
cur-LL 76365.013375 min-LL 76365.013375 diffratio-LL 0.0
0.0 0.0
Epoch 24
1000/1000 [100%]  Elapsed: 29s
Negative log-likelihood <= 71217.516
Perplexity <= 315.310
trivial mse 0.0048704334
mse 0.0048704245
71217.515703125 76365.013375 True
cur-LL 71217.515703125 min-LL 71217.515703125 diffratio-LL 0.0
0.0 0.0
Epoch 25
1000/1000 [100%]  Elapsed: 27s
Negative log-likelihood <= 66727.773
Perplexity <= 219.387
trivial mse 0.0048704334
mse 0.004870426
66727.77321875 71217.515703125 True
cur-LL 66727.77321875 min-LL 66727.77321875 diffratio-LL 0.0
0.0 0.0
Epoch 26
1000/1000 [100%]  Elapsed: 30s
Negative log-likelihood <= 62696.033
Perplexity <= 158.399
trivial mse 0.0048704334
mse 0.00487043
62696.0334375 66727.77321875 True
cur-LL 62696.0334375 min-LL 62696.0334375 diffratio-LL 0.0
0.0 0.0
Epoch 27
1000/1000 [100%]  Elapsed: 35s
Negative log-likelihood <= 59171.300
Perplexity <= 119.147
trivial mse 0.0048704334
mse 0.004870431
59171.300375 62696.0334375 True
cur-LL 59171.300375 min-LL 59171.300375 diffratio-LL 0.0
0.0 0.0
Epoch 28

1000/1000 [100%]  Elapsed: 23s
Negative log-likelihood <= 55946.848
Perplexity <= 91.823
trivial mse 0.0048704334
mse 0.0048704306
55946.847890625 59171.300375 True
cur-LL 55946.847890625 min-LL 55946.847890625 diffratio-LL 0.0
0.0 0.0
Epoch 29
1000/1000 [100%]  Elapsed: 27s
Negative log-likelihood <= 53084.764
Perplexity <= 72.867
trivial mse 0.0048704334
mse 0.004870432
53084.76378125 55946.847890625 True
cur-LL 53084.76378125 min-LL 53084.76378125 diffratio-LL 0.0
0.0 0.0
Epoch 30
1000/1000 [100%]  Elapsed: 26s
Negative log-likelihood <= 50489.473
Perplexity <= 59.084
trivial mse 0.0048704334
mse 0.004870427
50489.473234375 53084.76378125 True
cur-LL 50489.473234375 min-LL 50489.473234375 diffratio-LL 0.0
0.0 0.0
Epoch 31
1000/1000 [100%]  Elapsed: 25s
Negative log-likelihood <= 48144.710
Perplexity <= 48.888
trivial mse 0.0048704334
mse 0.0048704296
48144.71040625 50489.473234375 True
cur-LL 48144.71040625 min-LL 48144.71040625 diffratio-LL 0.0
0.0 0.0
Epoch 32
1000/1000 [100%]  Elapsed: 24s
Negative log-likelihood <= 46022.997
Perplexity <= 41.187
trivial mse 0.0048704334
mse 0.0048704324
46022.996796875 48144.71040625 True
cur-LL 46022.996796875 min-LL 46022.996796875 diffratio-LL 0.0
0.0 0.0
Epoch 33
1000/1000 [100%]  Elapsed: 21s
Negative log-likelihood <= 44124.112
Perplexity <= 35.330
trivial mse 0.0048704334
mse 0.0048704334
44124.111796875 46022.996796875 True
cur-LL 44124.111796875 min-LL 44124.111796875 diffratio-LL 0.0
0.0 0.0
Epoch 34
1000/1000 [100%]  Elapsed: 21s
Negative log-likelihood <= 42306.251
Perplexity <= 30.504
trivial mse 0.0048704334
mse 0.004870431
42306.251109375 44124.111796875 True
cur-LL 42306.251109375 min-LL 42306.251109375 diffratio-LL 0.0
0.0 0.0
Epoch 35
1000/1000 [100%]  Elapsed: 26s
Negative log-likelihood <= 40675.495
Perplexity <= 26.739
trivial mse 0.0048704334
mse 0.004870433
40675.4945625 42306.251109375 True
cur-LL 40675.4945625 min-LL 40675.4945625 diffratio-LL 0.0
0.0 0.0
Epoch 36
1000/1000 [100%]  Elapsed: 29s
Negative log-likelihood <= 39102.273
Perplexity <= 23.547
trivial mse 0.0048704334
mse 0.004870433
39102.273125 40675.4945625 True
cur-LL 39102.273125 min-LL 39102.273125 diffratio-LL 0.0
0.0 0.0
Epoch 37
1000/1000 [100%]  Elapsed: 25s
Negative log-likelihood <= 37776.263
Perplexity <= 21.155
trivial mse 0.0048704334
mse 0.004870432
37776.263203125 39102.273125 True
cur-LL 37776.263203125 min-LL 37776.263203125 diffratio-LL 0.0
0.0 0.0
Epoch 38
1000/1000 [100%]  Elapsed: 22s
Negative log-likelihood <= 36550.068
Perplexity <= 19.160
trivial mse 0.0048704334
mse 0.004870433
36550.067515625 37776.263203125 True
cur-LL 36550.067515625 min-LL 36550.067515625 diffratio-LL 0.0
0.0 0.0
Epoch 39
1000/1000 [100%]  Elapsed: 24s
Negative log-likelihood <= 35299.821
Perplexity <= 17.319
trivial mse 0.0048704334
mse 0.0048704334
35299.82140625 36550.067515625 True
cur-LL 35299.82140625 min-LL 35299.82140625 diffratio-LL 0.0
0.0 0.0
Epoch 40
1000/1000 [100%]  Elapsed: 25s
Negative log-likelihood <= 34320.663
Perplexity <= 16.002
trivial mse 0.0048704334
mse 0.004870433
34320.663265625 35299.82140625 True
cur-LL 34320.663265625 min-LL 34320.663265625 diffratio-LL 0.0
0.0 0.0
Epoch 41
1000/1000 [100%]  Elapsed: 29s
Negative log-likelihood <= 33472.290
Perplexity <= 14.942
trivial mse 0.0048704334
mse 0.004870433
33472.29040625 34320.663265625 True
cur-LL 33472.29040625 min-LL 33472.29040625 diffratio-LL 0.0
0.0 0.0
Epoch 42
1000/1000 [100%]  Elapsed: 26s
Negative log-likelihood <= 32700.399
Perplexity <= 14.039
trivial mse 0.0048704334
mse 0.0048704334
32700.3993125 33472.29040625 True
cur-LL 32700.3993125 min-LL 32700.3993125 diffratio-LL 0.0
0.0 0.0
Epoch 43
1000/1000 [100%]  Elapsed: 25s
Negative log-likelihood <= 32011.493
Perplexity <= 13.279
trivial mse 0.0048704334
mse 0.0048704334
32011.493296875 32700.3993125 True
cur-LL 32011.493296875 min-LL 32011.493296875 diffratio-LL 0.0
0.0 0.0
Epoch 44
1000/1000 [100%]  Elapsed: 24s
Negative log-likelihood <= 31919.885
Perplexity <= 13.181
trivial mse 0.0048704334
mse 0.0048704334
31919.885125 32011.493296875 True
cur-LL 31919.885125 min-LL 31919.885125 diffratio-LL 0.0
0.0 0.0
Epoch 45
1000/1000 [100%]  Elapsed: 27s
Negative log-likelihood <= 30955.841
Perplexity <= 12.193
trivial mse 0.0048704334
mse 0.004870433
30955.840703125 31919.885125 True
cur-LL 30955.840703125 min-LL 30955.840703125 diffratio-LL 0.0
0.0 0.0
Epoch 46
1000/1000 [100%]  Elapsed: 28s
Negative log-likelihood <= 30498.786
Perplexity <= 11.751
trivial mse 0.0048704334
mse 0.0048704334
30498.786328125 30955.840703125 True
cur-LL 30498.786328125 min-LL 30498.786328125 diffratio-LL 0.0
0.0 0.0
Epoch 47
1000/1000 [100%]  Elapsed: 28s
Negative log-likelihood <= 30119.125
Perplexity <= 11.396
trivial mse 0.0048704334
mse 0.0048704334
30119.125203125 30498.786328125 True
cur-LL 30119.125203125 min-LL 30119.125203125 diffratio-LL 0.0
0.0 0.0
Epoch 48
1000/1000 [100%]  Elapsed: 26s
Negative log-likelihood <= 29967.453
Perplexity <= 11.257
trivial mse 0.0048704334
mse 0.0048704334
29967.45290625 30119.125203125 True
cur-LL 29967.45290625 min-LL 29967.45290625 diffratio-LL 0.0
0.0 0.0
Epoch 49
1000/1000 [100%]  Elapsed: 28s
Negative log-likelihood <= 29677.796
Perplexity <= 10.997
trivial mse 0.0048704334
mse 0.0048704334
29677.795953125 29967.45290625 True
cur-LL 29677.795953125 min-LL 29677.795953125 diffratio-LL 0.0
0.0 0.0
Epoch 50
1000/1000 [100%]  Elapsed: 28s
Negative log-likelihood <= 29535.732
Perplexity <= 10.872
trivial mse 0.0048704334
mse 0.0048704334
29535.732203125 29677.795953125 True
cur-LL 29535.732203125 min-LL 29535.732203125 diffratio-LL 0.0
0.0 0.0
Epoch 51
1000/1000 [100%]  Elapsed: 26s
Negative log-likelihood <= 29333.111
Perplexity <= 10.695
trivial mse 0.0048704334
mse 0.0048704334
29333.111359375 29535.732203125 True
cur-LL 29333.111359375 min-LL 29333.111359375 diffratio-LL 0.0
0.0 0.0
Epoch 52
1000/1000 [100%]  Elapsed: 26s
Negative log-likelihood <= 29287.990
Perplexity <= 10.656
trivial mse 0.0048704334
mse 0.0048704334
29287.990125 29333.111359375 True
cur-LL 29287.990125 min-LL 29287.990125 diffratio-LL 0.0
0.0 0.0
Epoch 53
1000/1000 [100%]  Elapsed: 30s
Negative log-likelihood <= 29246.339
Perplexity <= 10.620
trivial mse 0.0048704334
mse 0.0048704334
29246.33896875 29287.990125 True
cur-LL 29246.33896875 min-LL 29246.33896875 diffratio-LL 0.0
0.0 0.0
Epoch 54
1000/1000 [100%]  Elapsed: 29s
Negative log-likelihood <= 29345.229
Perplexity <= 10.705
trivial mse 0.0048704334
mse 0.0048704315
29345.229453125 29246.33896875 False
cur-LL 29345.229453125 min-LL 29246.33896875 diffratio-LL 0.003381294475204841
0.0 0.003381294475204841
Epoch 55
1000/1000 [100%]  Elapsed: 28s
Negative log-likelihood <= 29232.933
Perplexity <= 10.609
trivial mse 0.0048704334
mse 0.0048704334
29232.93259375 29246.33896875 True
cur-LL 29232.93259375 min-LL 29232.93259375 diffratio-LL 0.0
0.003381294475204841 0.0
Epoch 56
1000/1000 [100%]  Elapsed: 28s
Negative log-likelihood <= 29131.546
Perplexity <= 10.522
trivial mse 0.0048704334
mse 0.0048704334
29131.54559375 29232.93259375 True
cur-LL 29131.54559375 min-LL 29131.54559375 diffratio-LL 0.0
0.0 0.0
Epoch 57
1000/1000 [100%]  Elapsed: 32s
Negative log-likelihood <= 29126.161
Perplexity <= 10.518
trivial mse 0.0048704334
mse 0.0048704334
29126.161484375 29131.54559375 True
cur-LL 29126.161484375 min-LL 29126.161484375 diffratio-LL 0.0
0.0 0.0
Epoch 58

1000/1000 [100%]  Elapsed: 27s
Negative log-likelihood <= 29157.841
Perplexity <= 10.545
trivial mse 0.0048704334
mse 0.0048704334
29157.840953125 29126.161484375 False
cur-LL 29157.840953125 min-LL 29126.161484375 diffratio-LL 0.0010876637062867097
0.0 0.0010876637062867097
Epoch 59
1000/1000 [100%]  Elapsed: 25s
Negative log-likelihood <= 29215.496
Perplexity <= 10.594
trivial mse 0.0048704334
mse 0.0048704334
29215.496453125 29126.161484375 False
cur-LL 29215.496453125 min-LL 29126.161484375 diffratio-LL 0.0030671727477005802
0.0010876637062867097 0.0030671727477005802

In [39]:
np.savetxt(OUT_DIR + '/cause_def_k_U.csv', def_z_post_np.T)
np.savetxt(OUT_DIR + '/cause_def_k_Xpost.csv', def_x_post_np.T)